//page d'édition d'un quizz

include layout.jade
    
body(id="home-page")
  head
    include navbar.jade
  script(type="text/javascript").
      function deleteItem(itemId,libQuizz,matiereName){
        $.ajax({
        url: '/matiere/'+matiereName+'/se_tester/'+libQuizz+'/editer/'+itemId,
        type: 'DELETE',
        success: function(data) {
          location.reload(true)
        }
        });
        return false;
      }
  .container-fluid
        p.subtitle.italic.centerText Editer quizz
        .container.col-xs-12.col-sm-12.col-md-5.col-lg-5.col-xl-5.bg-light
            //Formulaire Question-Réponse
            each question in questionsList
              p #{question.dataValues.Question} #{question.dataValues.Reponse}
                strong(onclick="deleteItem(#{question.dataValues.id},'#{libQuizz}','#{nomMatiere}')") &#10008;
        
            form(method="post" action="/matiere/#{nomMatiere}/se_tester/#{libQuizz}/editer")
                .form-group
                    label(for="Q1")   
                    input(type="text" name="question" class="form-control" placeholder="Question") 
                
                .form-group
                    label(for="R1")
                    input(type="text" name="reponse" class="form-control" placeholder="Réponse")
                input(type="submit" class="btn btn-info col-md-4 offset-md-1")
                //mettre Q1 et R1 par défaut (1 question) puis avec un + recréer ce formulaire pour chaque ajout
                //d'une question (essayer de changer nom R2,R3 pour récupérer les questions)
      
  
  footer
    include footer.jade