
include layout.jade
body(id="home-page")
  head
    include navbar.jade
  script(type="text/javascript").
    function deleteItem(itemId,matiereName){
      $.ajax({
      url: '/matiere/'+matiereName+'/examens/'+itemId,
      type: 'DELETE',
      success: function(data) {
        location.reload(true)
      }
      });
      return false;
    }

  .container.bg-light.mt-5
    p.centerText.subtitle.italic.bold.mt-5 Mes examens
    -if (itemsList==undefined)
      p.centerText.big Vous n'avez pas encore d'examen prévu.
    -else 
      //liste des examens pour une matière
      each item in itemsList
        -var itemValue;
        -if(item.dataValues.dateExam.getDate()<10)  itemValue="0"+item.dataValues.dateExam.getUTCDate()+"/"; else itemValue=item.dataValues.dateExam.getUTCDate()+"/"
        -if(item.dataValues.dateExam.getMonth()<9)  itemValue+="0"+(item.dataValues.dateExam.getMonth()+1)+"/"; else itemValue+=item.dataValues.dateExam.getMonth()+1+"/"
        -itemValue+=item.dataValues.dateExam.getFullYear()+" à "
        -if(item.dataValues.dateExam.getUTCHours()<10)  itemValue+="0"+item.dataValues.dateExam.getUTCHours()+":"; else itemValue+=item.dataValues.dateExam.getUTCHours()+":"
        -if(item.dataValues.dateExam.getUTCMinutes()<10)  itemValue+="0"+item.dataValues.dateExam.getUTCMinutes(); else itemValue+=item.dataValues.dateExam.getMinutes()
        li
          strong #{item.dataValues.libExamen}
            button(onclick="deleteItem(#{item.dataValues.id},'#{nomMatiere}')").btn.btn-link.mb-1.ml-2 &#10008;
          p pour le #{itemValue}
         
    //Formulaire pour l'ajout d'un examen
    form.mt-5.form-inline(action="/matiere/#{nomMatiere}/examens" method="post") 
      .form-group.mx-auto
        label(for="examen")    
        input(type="text" name='libelle' class="form-control" placeholder="Nom de l'examen" required).mb-5
        label(for="date")   
        input(type="datetime-local" name='date' class="form-control" placeholder="Date de l'examen" required).mb-5
        button(type="submit" class="btn btn-info").mb-5 Ajouter un examen

  footer
    include footer.jade
