
include layout.jade
body(id="home-page")
  head
    include navbar.jade
  script(type="text/javascript").
    function deleteItem(itemId,matiereName){
      $.ajax({
      url: '/matiere/'+matiereName+'/examens/'+itemId,
      type: 'DELETE',
      success: function(data) {
        location.reload(true)
      }
      });
      return false;
    }

  .container.bg-light.mt-5
    p.centerText.subtitle.italic.bold.mt-5 Mes examens
    -if (itemsList==undefined)
      p.centerText.big Vous n'avez pas encore d'examen prévu.
    -else 
      //liste des examens pour une matière
      each item in itemsList
        li #{item.dataValues.libExamen} pour le #{item.dataValues.dateExam.getDate()}/#{item.dataValues.dateExam.getMonth()}/#{item.dataValues.dateExam.getFullYear()} à #{item.dataValues.dateExam.getHours()} : #{item.dataValues.dateExam.getMinutes()}
          strong(onclick="deleteItem(#{item.dataValues.id},'#{nomMatiere}')") &#10008;
        
    //Formulaire pour l'ajout d'un examen
    form.mt-5.form-inline(action="/matiere/#{nomMatiere}/examens" method="post") 
      .form-group.mx-auto
        label(for="examen")    
        input(type="text" name='libelle' class="form-control" placeholder="Nom de l'examen").mb-5
        label(for="date")   
        input(type="datetime-local" name='date' class="form-control" placeholder="Date de l'examen").mb-5
        button(type="submit" class="btn btn-info").mb-5 Ajouter un examen

  footer
    include footer.jade
