//Barre de navigation après connexion

-var currentMatiere=undefined;
nav.navbar.navbar-expand-md.navbar-light.bg-light
    
    a.navbar-brand(href='/home') 
        img(src="/images/LogoWeb.png", alt="Logo ToDoRev", id="small-logo", class="d-inline-block align-top")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.mr-auto

            li.nav-item.dropdown(id="matiereItem")
                -if(nomMatiere==undefined)
                    a.nav-link.dropdown-toggle(id='navbarDropdown', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Sélectionnez une matière
                -else{
                    a.nav-link.dropdown-toggle(id='navbarDropdown', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{nomMatiere}
                -currentMatiere=nomMatiere;
                -}
                script(type="text/javascript").
                    function change_dropdown(newText){
                        document.getElementById("navbarDropdown").innerHTML=newText;
                        currentMatiere=newText;
                        document.getElementById("ItemRevision").setAttribute("class","nav-link");
                        document.getElementById("ItemExamen").setAttribute("class","nav-link");
                        document.getElementById("ItemQuizz").setAttribute("class","nav-link");
                        document.getElementById("ItemTodo").setAttribute("class","nav-link");
                        document.getElementById("buttonSupprimer").disabled = false;

                        document.getElementById("ItemRevision").setAttribute("href","/matiere/"+currentMatiere+"/revisions");
                        document.getElementById("ItemExamen").setAttribute("href","/matiere/"+currentMatiere+"/examens");
                        document.getElementById("ItemQuizz").setAttribute("href","/matiere/"+currentMatiere+"/se_tester");
                        document.getElementById("ItemTodo").setAttribute("href","/matiere/"+currentMatiere+"/a_faire");
                        document.getElementById("deleteMatiere").setAttribute("onclick","sendDelete(\'"+currentMatiere+"\')");
                    }
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    //liste des matières (dans le dropdown)
                    each matiere in matieresList

                        a.dropdown-item(onclick="change_dropdown('#{matiere.dataValues.libelle_Matiere}')")=matiere.dataValues.libelle_Matiere
                    .dropdown-divider
                    //Formulaire d'ajout d'une matière (dans le dropdown)
                    form.dropdown-header.form-inline(action="/home" method='post') 
                            label(for="nom")   
                            input(type="text" name='libelle' class="form-control" placeholder="Ajouter une matière") 
                            button(type="submit" class="btn btn-info col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2") +


            li.nav-item
                -if(nomMatiere==undefined)
                    a.nav-link(id="ItemRevision" href='/matiere/#{currentMatiere}/revisions').disabled Révisions 
                -else
                    a.nav-link(id="ItemRevision" href='/matiere/#{currentMatiere}/revisions') Révisions 

            li.nav-item
                -if(nomMatiere==undefined)
                    a.nav-link(id="ItemExamen" href='/matiere/#{currentMatiere}/examens').disabled Examens
                -else
                    a.nav-link(id="ItemExamen" href='/matiere/#{currentMatiere}/examens') Examens
                
            li.nav-item
                -if(nomMatiere==undefined)
                    a.nav-link(id="ItemQuizz" href='/matiere/#{currentMatiere}/se_tester').disabled Se tester
                -else
                    a.nav-link(id="ItemQuizz" href='/matiere/#{currentMatiere}/se_tester') Se tester

            li.nav-item
                -if(nomMatiere==undefined)
                    a.nav-link(id="ItemTodo" href='/matiere/#{currentMatiere}/a_faire').disabled A faire
                -else
                    a.nav-link(id="ItemTodo" href='/matiere/#{currentMatiere}/a_faire') A faire
        
        

        button(type="button" class="btn btn-secondary" data-toggle="modal" id="buttonSupprimer" data-target="#exampleModal" disabled)
            Launch Supprimer la matière

        div(class="modal" id="exampleModal" tabindex="-1" role="dialog")
            div(class="modal-dialog" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") Supprimer la matière
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                    p Etes-vous sûr de vouloir supprimer la matière?
                    div(class="modal-footer")
                        button(type="button" id="deleteMatiere" class="btn btn-primary" onclick="sendDelete('#{currentMatiere}')") Supprimer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Annuler
        
        a(href='/disconnect' id="deconnexion")
            input(type='button', class="navbar-right btn btn-secondary", value="Se déconnecter")


        script(type="text/javascript").
            function sendDelete(nomMatiere){
                $.ajax({
                url: '/matiere/'+nomMatiere,
                type: 'DELETE',
                success: function(data) {
                    
                }
                });
            }