//Page Révisions

include layout.jade
 
body(id="home-page")
  header
      include navbar.jade
  script(type="text/javascript").
    function inverseItemState(itemId,matiereName){
      $.ajax({
      url: '/matiere/'+matiereName+'/revisions/check/'+itemId,
      type: 'PATCH',
      success: function(data) {
        location.reload(true)
      }
      });
      return false;
    }
    function deleteColonne(itemId,libQuizz,matiereName){
        $.ajax({
        url: '/matiere/'+matiereName+'/revisions/'+libQuizz+'/colonne/'+itemId,
        type: 'DELETE',
        success: function(data) {
          location.reload(true)
        }
        });
        return false;
      }
    function deleteLigne(itemId,libQuizz,matiereName){
        $.ajax({
        url: '/matiere/'+matiereName+'/revisions/'+libQuizz+'/ligne/'+itemId,
        type: 'DELETE',
        success: function(data) {
          location.reload(true)
        }
        });
        return false;
      }
  
  .container.bg-light.mt-5
    p.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xl-10
      table.table.table-bordered.bg-light
        thead
          tr
            th
            each colonne in colonneList
              th 
                button(onclick="deleteColonne(#{colonne.dataValues.id},'#{nomMatiere}')").btn.btn-link &#10008; #{colonne.dataValues.LibColonne}
          
            
        tbody
          - for(var i = 0; i < ligneList.length; i++) {
              tr(scope="row")  
                th 
                  button(onclick="deleteLigne(#{ligneList[i].dataValues.id},'#{nomMatiere}')").btn.btn-link &#10008; #{ligneList[i].dataValues.libLigne}
          
                - for(var j = 0; j < colonneList.length; j++){
                  -if(caseList[i][j].dataValues.estCoche){
                    td
                      button(onclick="inverseItemState(#{caseList[i][j].dataValues.id},'#{nomMatiere}')").centerText.center.btn.btn-light &#10008;
                  -}
                  -else{
                    td
                      button(onclick="inverseItemState(#{caseList[i][j].dataValues.id},'#{nomMatiere}')").centerText.center.btn.btn-outline-light &#10008;
                  -}
                - }
          - }
      
    form.form-inline(action="/matiere/#{nomMatiere}/revisions/newLigne" method='post').mt-1
      .form-group.mx-auto
        label(for="ajout")   
        input(type="text" name='libelle' class="form-control" placeholder="Ajouter une ligne" required).col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xl-10
        button(type="submit" class="btn btn-info") +

    form.form-inline(action="/matiere/#{nomMatiere}/revisions/newLigne" method='post').mt-1
      .form-group.mx-auto
        label(for="ajout")   
        input(type="text" name='libelle' class="form-control" placeholder="Ajouter une colonne" required).col-xs-1.col-sm-3.col-md-10.col-lg-10.col-xl-10
        button(type="submit" class="btn btn-info") +


  footer
    include footer.jade
