//Page Révisions

include layout.jade
 
body(id="home-page")
  header
      include navbar.jade
  .container.bg-light
    table
      thead
        tr
          th
          each colonne in colonneList
            th #{colonne.dataValues.LibColonne}
          th
            form.form-inline(action="/matiere/#{nomMatiere}/revisions/newColonne" method='post') 
              .form-group
                label(for="ajout")   
                input(type="text" name='libelle' class="form-control" placeholder="Ajouter une colonne") 
                button(type="submit" class="btn btn-info") +
      tbody
        - for(var i = 0; i < ligneList.length; i++) {
            tr  
              th #{ligneList[i].dataValues.libLigne}
              - for(var j = 0; j < colonneList.length; j++){
                td #{caseList[i][j].dataValues.estCoche}
              - }
        - }
        th
          form.form-inline(action="/matiere/#{nomMatiere}/revisions/newLigne" method='post') 
            .form-group
              label(for="ajout")   
              input(type="text" name='libelle' class="form-control" placeholder="Ajouter une ligne") 
              button(type="submit" class="btn btn-info") +


  footer
    include footer.jade
